<div class="container-fluid">
    <div class="row">
        <img src="https://ae01.alicdn.com/kf/HTB1KTHjaODxK1Rjy1zcq6yGeXXaW/Double-sided-Wear-Woolen-Furry-Fleece-Jacket-Long-Warm-Coat-for-Men-Winter-Men-Plush-European.jpg" style="height: 550px; width: 610px;">
        <img src="assets/WinterSale.jpg" style="height: 550px; width: 670px;">
        <img src="https://cdn.shopify.com/s/files/1/0252/2592/0597/products/product-image-1153557402.jpg?v=1572690340" style="height: 550px; width: 610px;">

    </div>
    <h3 class="text-center">Coming soon...</h3>
</div>
