
.btn-styledplus { margin-left: 25px; }
.btn-styled {
    background-color: #333;
    color:white;
    width: 25px;
    margin-right: auto; 
}

.btn {
    margin-left: 15px;
}


.totalcost { background-color: #333; text-align:center; color: white;}

.alert-info {
    background-color: white;
    block-size: 35px;
    padding-left: 13px;
    padding-top: 4px;
}

.list-item {
    background-color: white;
}

.cartstyle {
    margin-left: auto;
    padding-left: 13px;
    padding-top: 4px;
}

