.btn-legendary {
    background-color: darkcyan;
    color: white;
}
strong {
    margin-left: auto;
    margin-right: auto;
}

.card {
    border:none;
}

.btnWish {
    color: red;
}

.mainWish {
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;

}